@media(max-width:767px)
{
.scholar_section {
    background: #fefddf;
    padding-top: 0;
}
.border_8:before {
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 100%;
    height: 50%;
    bottom: -20px;
    margin-left: 0;
}
.fixed-top {
    position: relative !important;
}
.awards_achievements .owl-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 13px;
}

.news_update .owl-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 13px;
}
.news_update button.owl-next {
    position: relative;
    top: auto;
    right: 0;
}
.news_update button.owl-prev {
    position: relative;
    top: auto;
    left: 0;
}
.mobile_nones
{
    display: none !important;
}
header {
    border-bottom: 0px solid #fccf00;
}
.border_8 {
    margin-top: 35px;
}
.locatio_box {
    width: 100%;
            margin-top: 30px;
}
.padding100 {
    padding-top: 0;
}
.paddlft60 {
    padding-left: 15px !important;
}
html {
    overflow-x: hidden;
}
#counter {
    background: #fefddf;
    padding: 25px 0px !important;
}
.locatio_box ul li {
    font-size: 14px;
    transform: skew(0deg);
    width: 104%;
        padding: 10px 13px 10px;
}
.locatio_box li p {
    margin-bottom: 0;
    transform: skew(0deg);
}
.news_box {
    margin-bottom: 20px;
}
.footer_bottom_img img {
    width: 150px;
}
.quickimg img {
    width: 100%;
    border: 1px solid #f6d876;
    padding: 45px;
    margin: 0 auto;
    height: auto;
            height: 150px;
}
.locatio_box ul li i {
    margin-right: 4px;
}
.admission_form {
    border: 2px solid #f6d876;
    text-align: center;
    padding: 30px 20px;
    border-radius: 20px;
    position: relative !important;
    background: #fff;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    right: 0;
    margin-top: 90px;
}
.locatio_box:after {
    content: '';
    position: absolute;
    background: #ffffff00;
    height: 87%;
    width: 76%;
    top: 0;
    border: 1px solid #f6d876;
    z-index: -1;
    border-radius: 30px;
    left: 36px;
    margin-top: 54px;
}
.footer-privacy ul li {
    list-style: none;
    float: left;
    padding-left: 0;
    padding-right: 15px;
}
.classroom_box {
    padding: 0px 0px;
            margin-bottom: 50px;
}
.border_2:before {
    width: 100%;
    bottom: 23px;
}
.counter-value {
    font-size: 34px;
    color: #333;
}
.stastic p {
    text-decoration: underline;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
.skew-box p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 25px;
    transform: skew(0deg);
    padding-top: 7px;
}
    .skew-box {
        position: relative;
        top: 0;
        background-color: #f6d876;
        color: #000;
        padding: 3px 45px 10px 15px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        transform: skew(0deg);
        display: block;
        margin-left: 0px;
    }
body .admission_img {
 width: 110px !important;
        position: relative;
        left: 22px;
        margin-top: 0;
        top: 34px;
}
.header_text {
    color: #333;
    font-weight: 600;
    font-size: 20px;
    padding-left: 0;
    padding-top: 10px;
    text-align: center;
    padding-top: 0px;
            margin-top: -10px;
}
body .admiistion_test {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 0px;
    text-align: center !important;
    line-height: 20px;
}
    .w-150 {
        width: 90px;
        position: relative;
        top: 0;
        margin-left: inherit;
        margin-right: inherit;
        display: block;
    }
    
   .logo_width a.navbar-brand {
    display: block;
}
.header_section_top p {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    padding-left:30px;
}
.banner_slider img {
    height: 35vh;
}
.banner_slider {
    height: 35vh;
    object-fit: cover;
}
header {
    background-image: url(./img/header-back.jpg);
}
.top_position {
    position: relative;
    width: 100%;
    background: #fff;
}
.startimg::after {
   display:none;
}
.logo_width {
    position: relative;
    top: 0px;
    z-index: 9;
    padding: 0px;
}
.scholar_section img {
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 180px;
    object-fit: cover;
    object-position: left;
}

.padd190 {
    padding: 0px 0px;
}

   .scholar_section .border_8:before {
        content: "";
        position: absolute;
        background: #fdee9d;
        width: 100%;
        height: 50%;
        bottom: 22px;
        margin-left: 0;
    }
    section.service-categories {
    margin-top: 50px;
}
    section.about_section .container {
    background: linear-gradient(180deg, #fefddf 0%, #fefddf 25%, #fefddf 80%, #ffffff 100%);
    border-top: 0px solid #fccf00;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.paddlft50 {
    padding-left: 30px !important;
    padding-right: 15px !important;
}
.paddngrgt80 {
    padding-right: 15px !important;
    padding-left: 30px !important;
}
.education_box {
    background: #fefddf;
    padding: 20px 20px;
    border-radius: 20px;
    position: relative;
    left: -15px;
    box-shadow: 0px 0px 36px -26px #333;
    width: 105%;
    overflow: hidden;
    margin-top: 45px;
}
.border_5:before {
    margin-left: 0px;
    margin-top: -14px;
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 39%;
    height: 105%;
    bottom: -14px;
    left: 15px;
}
.pt55 {
    position: relative;
    padding-top: 6%;
}
.paddlr30
{
    padding-left: 30px;
    padding-right: 15px;
}
.border_6:before {
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 40%;
    height: 106%;
    bottom: -14px;
    right: 15px;
}
.paddlr35
{
    padding-left: 15px;
    padding-right: 30px;
}
.paddlr40
{
       padding-left: 30px;
    padding-right: 30px;
    margin-top: 11px;
}
.border_7:before {
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 92%;
    height: 40%;
    bottom: -16px;
    margin-left: 14px;
}
.skew-box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 20px;
    transform: skew(0deg);
    background: linear-gradient(to left, #e12025 50%, #ed7c1c 50%);
}
.skew-box p span {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
    button.navbar-toggler {
        float: right;
        padding: 0;
        padding-top: 25px;
    }
    .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

.yellow_clrs{
        background: #fccf00;
}
.pt-70 {
    padding-top: 40px !important;
}
.embedcode iframe {
    width: 100%;
    height: 240px;
    margin-bottom: -10px;
}
.inner_adminssion .admission_img {
    position: absolute;
    width: 135px !important;
    right: 0;
    top: 0;
    display: none;
}
.inner-skew {
    width: 100%;
}
.border_11:before {
    bottom: -15px;
}
.inneraboutimg img {
    width: 89% !important;
    margin: 0 auto;
    display: block;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
.internal_banner img {
    height: 150px;
    object-fit: cover;
}
.footer_bottom_img {
    margin-right: 65px;
    margin-top: 0;
}

.vission_box::before {
display:none;
}
.vission_box {
        border: 1px solid #fdee9d;
        padding: 30px 15px 25px 15px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        z-index: 99;
        background: #fff;
        height: 100%;
    }
    
    section.vission_mission {
    padding-top: 40px !important;
}

.about_tabs ul#pills-tab {
    margin-top: 0;
    margin-left: 0;
}

.about_tabs ul#pills-tab li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.about_tabs div#pills-tabContent {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
}

.founder_img img {
    width: 100% !important;
    height: auto;
    object-fit: cover;
}
.founder_img::before {
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 100%;
    height: 30%;
    bottom: 5px;
    margin-left: 0;
    z-index: 0;
}
.founder_box {
    padding-left: 10px;
    padding-right: 10px;
}

.about_tabs  .col-md-12.col-6.pb-3:nth-child(1) {
    padding-right: 0;
}

.about_tabs  .col-md-12.col-6.pb-3:nth-child(2) {
    padding-left: 0;
}

.pl30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
}