

body
{
	overflow-x:hidden;
	font-family: "Roboto", serif !important;
}
.robot_slab
{
	font-family: "Roboto Slab", serif !important;
}
.text_color
{
	color:#E31E24;
}

.bgcolor
{
	        background: linear-gradient(0deg, #fffdb7 0%, #fefddf00 100%);
}
header
{
   background-image: url(../img/header-back.jpg); 
   
}




p, a, li, span 
{
font-size:15px;
font-family: "Roboto", sans-serif !important;
    font-weight: 300;
    line-height: 28px;
}

header li a:hover {
    color: #fff !important;
}
header li a {
    font-size: 14px;
    color: #555 !important;
    font-weight: 500;
}
.top_position {
    position: absolute;
    width: 100%;
        background: linear-gradient(180deg, #00000000 0%, #00000045 40%, #000000 50%, #00000000 100%);
}
header .container-fluid {
    padding: 0;
}
header {
    position: relative;
    z-index: 99;
    border-bottom: 6px solid #fccf00;
    padding: 0px 0px;
}
.header_section_top p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-top: 20px;
}
header li a.nav-link.active {
   background: #1b9a8a;
    padding-top: 8px;
    color:#fff !important;
    position: relative;
    border-bottom: 4px solid #ff6c00;
}


header li.nav-item.dropdown ul.dropdown-menu {
   margin: 0 !important;
    padding: 0px;
    top: 80px;
    position: absolute;
    width: 200px;
    max-height: 282px;
    margin-top: 10px;
    border-radius: 0px;
    background: #ffffff;
    box-shadow: 0 0 20px rgb(0 0 0 / 13%);
    border: 0;
    left:-50px;
}
.navbar-expand-lg .navbar-nav a.nav-link.active {
    background: #fccf00;
    color: #000 !important;
}
.read-more a:hover {
    color: #fff !important;
}
.navbar-expand-lg .navbar-nav a.nav-link:hover {
    color: #2b2a29 !important;
}
header li.nav-item.dropdown a.dropdown-item {
    border-bottom: 1px solid #f4f4f4;
    padding: 14px 25px;
    font-size: 15px;
    color: #6c6c6c !important;
    border-left: 4px solid #ffffff;
}

header li.nav-item.dropdown li:last-child a {
    border-bottom: 0;
}


    .navbar-expand-lg .navbar-nav .nav-link {
          border-radius: 0px;
    position: relative;
    color: #fff !important;
    font-weight: 500;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
	.social_top li {
    padding-top: 9px;
}
  .navbar-nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
/*.navbar-nav li a::after {
    position: absolute;
    content: "";
    top: -10%;
    left: 0;
    width: 100%;
    height: 46px;
    background: #1b9a8a ;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    margin-top: 5px;
    border-bottom: 4px solid #ff6c00;
    z-index: -1;
} */ 
     /* Open dropdown on hover */
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Optional: Adjusts the margin */
  }

  /* Optional: Add a transition effect for smoother opening */
  .dropdown-menu {
    transition: all 0.3s ease;
  }
  
  
.position_tops {
    position: relative;
    top: -5px;
    z-index: 9;
}
.position_tops li {
    margin-left: 10px;
}

.banner_slider .carousel-item img {
    animation: zoomAnimation 7s ease-in-out infinite;
    /* 5-second zoom effect */
}

@keyframes zoomAnimation {
    0% {
        transform: scale(1);
        /* Start at normal size */
    }

    100% {
        transform: scale(1.2);
        /* Zoom in by 20% */
    }
}


.blink_bg {
    background: #afa27f;
    color: #fff !important;
    padding: 14px 20px 15px 20px;
    text-decoration: none;
    display: inline-block;
    float: right;
    font-weight: 600;
    font-size: 14px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 0px solid #c5b884;
    -webkit-animation: blink 800ms step-end infinite;
            animation: blink 800ms step-end infinite;
}
@-webkit-keyframes blink { 50% { background-color: #0c8bb4; }}
        @keyframes blink { 50% { background-color: #0c8bb4; }}

footer.footer {
    background-image: url(../img/footerr-bg.jpg); 
        background-size: cover;
    background-repeat: no-repeat;

}

.read-more a::after {
	transition: all 0.3s;
}

.read-more a {
position: relative;
    background: transparent;
    color: #E31E24 !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    padding: 10px;
    font-weight: 300;
    padding-left: 25px;
    margin-top: 10px;
    border: 1px solid #E31E24;
    display: inline-block;
    padding-right: 25px;
    cursor: pointer;
    transition:1s all;
}

.read-more a::before,
.read-more a::after {
  background: #E31E24;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  transition:1.5s all;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
  transition:1s all;
}

.bg-gray
{
	background: #e3e4e4;
}

.gallery_box:before {
    content: "";
    position: absolute;
    background: #bde3fa;
    width: 100%;
    height: 40px;
    bottom: 0;
}

/* .about_border
{
    position:relative;
}
.about_border:before {
    content: "";
    position: absolute;
    background: #bde3fa;
    width: 100%;
    height: 78%;
    bottom: 0;
} */

.slide-content {
    POSITION: absolute;
    left: 10%;
    top: 35%;
    background: #eacb5091;
    padding: 26px 26px;
    width: 325px;
    font-weight: 600;
    margin-bottom: 0;
}
.manufacture {
    border-top: 0px solid transparent;
    background: linear-gradient(to right, #dd2b1c 40%, #fdc900 40%);
    background-size: 100% 4px;
    background-repeat: no-repeat;
	padding-top:4px;
}
.footer ul li a:hover {
    color: #E31E24 !important;
}
.bg-gray
{
	background:#e3e4e4;
}

.counter-value {
    font-size: 50px;
    color: #000;
}
		
.read_more a {
    background: transparent;
    color: #0c8bb4 !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    padding: 10px;
    font-weight: 500;
    padding-left: 25px;
    margin-top: 10px;
    border: 2px solid #dff1fd;
    display: inline-block;
    padding-right: 25px;
}
.mb-23
{
	    margin-bottom: 23px;
}

.footer__title {
    font-size: 18px;
    font-weight: 700;
	font-style:italic;
}

footer.footer a:hover {
    color: #0c8bb4;
    /* font-weight: 600; */
}
.footer_link1 ul {
    margin: 0;
    padding: 0;
    margin-left: 0px;
}

.footer_link1 ul a {
    color: #000;
    text-decoration: none;
}
.footer_link1 ul li {
    float: left;
    list-style: none;
    padding-right: 55px;
}
.contact-hed
{
	position: absolute;
    margin-top: -70px !important;
}

.copyrghts {
    position: relative;
    background: linear-gradient(to right, #818281 33%, #fdc900 30%);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: inherit;
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 7px;
}

.copyrghts::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #818281;
    transform: skewX(-30deg);
    z-index: -1;
    width: 34%;
    z-index: 9;
}


.copyrghts a {
    color: #000 !important;
    text-decoration: none;
    font-size: 12px;
    font-style: italic;  
}
.w-150 {
    width: 160px;
    position: relative;
    top: -35px;
}
footer.footer a{
    font-size: 16px;
}
.header_text{
        color: #fff;
    font-weight: 600;
    font-size: 22px;
    padding-left: 60px;
    padding-top: 10px;
}
.browser_link li a {
    color: #fff !important;
    padding-top: 10px;
    font-weight: 600;
    cursor:pointer;
}
.browser_link li a:hover {
    background: #fccf00;
    color: #000 !important;
}
.browser_link li {
   list-style:none;
}
.logo_width {
    position: absolute;
    top: 0px;
    z-index: 9;
    padding: 0px;
}
.fs-18
{
    font-size: 20px;
}

.zoom-hover img:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}

.zoom-hover {
    overflow: hidden;
    transition: 0.5s all;
}

.zoom-hover img {
    transition: 0.5s all;
}


.swiper-container {
    padding: 0;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  .swiper-wrapper {
    height: 90vh !important;
}
.swiper-slide {
    height: 90vh !important;
}
  .swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: all 0.3s ease;
    background-position: fixed;
  }
  
  .swiper-item {
    width: 80%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: absolute;
  }
  
  .swiper-slide .number {
    width: auto;
    height: auto;
    position: absolute;
    right: 10px;
    bottom: -40px;
    font-size: 120px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 600;
    font-family: "IBM Plex Sans", sans-serif;
    opacity: 0.3;
  }
  
  @media screen and (max-width: 512px) {
    .swiper-slide .number {
      display: none;
    }
  
    .swiper-item {
      width: 100%;
    }
  }
  .swiper-item:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: inherit;
    bottom: 0;
    z-index: 1;
    opacity: 0.1;
  }
  
  .swiper-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    z-index: 1;
    opacity: 0.2;
  }
  
  /* swiper arrows */
  .swiper-arrows {
    width: 400px;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 20%;
  }
  
  @media screen and (max-width: 512px) {
    .swiper-arrows {
      right: 0%;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: 0;
    transition: all 0.3s ease;
  }
  
  .swiper-button-prev {
    right: 50px !important;
    left: auto !important;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .swiper-button-next {
    right: 0px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .swiper-button-prev span,
  .swiper-button-next span {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    border: solid 2px #666666;
    border-left: 0;
    border-bottom: 0;
    transition: all 0.1s ease;
  }
  
  .swiper-button-prev span {
    transform: rotate(-135deg);
    left: 49%;
  }
  
  .swiper-button-next span {
    transform: rotate(45deg);
    right: 49%;
  }
  
  .swiper-button-prev:hover span,
  .swiper-button-next:hover span {
    width: 5px;
    height: 5px;
  }
  
  .swiper-button-prev:after,
  .swiper-button-next:after {
    width: 0px;
    height: inherit;
    content: "";
    position: absolute;
    background-color: white;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    opacity: 0.8;
  }
  
  .swiper-button-prev:after {
    right: 0;
  }
  
  .swiper-button-next:after {
    left: 0;
  }
  
  .swiper-button-prev:hover:after,
  .swiper-button-next:hover:after {
    width: inherit;
  }
  
  .swiper-button-disabled {
    opacity: 1 !important;
  }
  
  .swiper-button-disabled.swiper-button-prev span,
  .swiper-button-disabled.swiper-button-next span {
    opacity: 0.2;
  }
  
  /* swiper arrows mobile */
  @media screen and (max-width: 512px) {
    .swiper-button-prev,
  .swiper-button-next {
      width: 60px;
      height: 60px;
      bottom: 0;
    }
  
    .swiper-arrows {
      height: 60px;
    }
  
    .swiper-button-prev {
      right: 60px;
    }
  
    .swiper-button-prev span {
      left: 45%;
    }
  
    .swiper-button-next span {
      right: 45%;
    }
  }
  /* swiper pagination */
  

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: none !important;
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: none !important;
    right: 10px;
    left: auto;
}
.swiper-button-prev:hover span, .swiper-button-next:hover span {
    width: 10px !important;
    height: 10px !important;
}

.swiper-button-next, .swiper-button-prev {
    margin-top: 0px !important;
}


.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    width: 60px;
    margin: 0 auto;
    height: 60px;
    margin-top: 20%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.swiper-pagination {
    height: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60px !important;
    right: calc(20% - 60px);
    top: 20px;
    float: right;
    position: absolute;
    left: auto !important;
  }
  
  .banner_mainslider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px 0px;
  }
  
  .banner_mainslider .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 3px;
    border-radius: 0px;
    opacity: 0.5;
  }
  
  .banner_mainslider .swiper-pagination-bullet:hover {
    width: 50px;
  }
  
  .banner_mainslider .swiper-pagination-bullet-active,
  .banner_mainslider .swiper-pagination-bullet-active:hover {
    width: 60px;
    transition: all 0.3s ease-in-out;
    left: 0;
    background-color: white;
    opacity: 1;
  }
  
  /* text content */
  .banner_mainslider .slide-text {
    text-align: left;
    color: white;
    opacity: 1;
    z-index: 2;
    font-family: "IBM Plex Sans", sans-serif;
    width: 40%;
    max-width: 310px;
    padding: 30px;
    position: absolute;
    right: 5%;
  }
  
  .banner_mainslider .slide-text.playText {
    animation: transitionText 2s ease;
  }
  
  @keyframes transitionText {
    0% {
      right: -100%;
    }
    100% {
      right: 5%;
    }
  }
  
  .slide-text.playText p {
    font-size: 20px;
}


.read_more a:hover {
    background: #dff1fd;
}

.we-do-box {
  position: relative;
  overflow: hidden;
}

.we-do-box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust color and opacity */
  z-index: 1;
  transition: bottom 0.5s ease;
}

.we-do-box:hover::before {
  bottom: 0px;
}

.we-do-box:hover p
{
    background:transparent;
}

.we-d-content {
  position: absolute;
  bottom: 20px; /* Initial position 20px from the bottom */
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2; /* Ensures content stays above the background */
  color: white; /* Text color */
  transition: all 0.5s ease; /* Smooth transition for positioning */
}

.we-do-box:hover .we-d-content {
  bottom: 50%; /* Move the text vertically to the center */
  transform: translateY(50%); /* Adjust to ensure perfect centering */
}

.we-do-box img {
  display: block;
  width: 100%;
  transition: transform 0.5s ease;
}

.we-do-box:hover img {
  transform: scale(1.1); /* Optional zoom effect on hover */
}
.awards_achievements p {
       font-weight: 600 !important;
    padding: 0px 20px;
    padding-top: 15px !important;
    line-height: 22px;
}

.showcase_box {
    position: relative;
    /* width: 300px; */ /* Adjust width as needed */
    /* height: 200px; */ /* Adjust height as needed */
    overflow: hidden;
}

.showcase_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; /* Optional zoom effect */
}

.showcase_box .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.showcase_box:hover .overlay {
    opacity: 1;
}

.showcase_box:hover img {
    transform: scale(1.1); /* Optional zoom effect */
}
   
.slide-text.playText1
{
        background-color: #e31e24;
}
.slide-text.playText2
{
        background-color: #ff6000;
}
.slide-text.playText3
{
        background-color: #eab0008f;
}
@media(min-width:1500px) and (max-width:2500px)
{
    .position_tops li.nav-item {
    margin-right: 10px;
}
}
.scholar_section img {
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ul.social-menu li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

ul.social-menu li img {
    width: 25px;
      transition: 0.5s all;
}
ul.social-menu li img:hover {
    transform: scale(1.19);
    transition: 0.5s all;
}
ul.copyright-menu li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

ul.copyright-menu li a {
    color: #000;
    font-size: 14px;
	    text-decoration: none;
}
.footer-privacy a {
    color: #000;
    text-decoration: none;
    font-size: 14px !important;
}

footer p {
    font-size: 14px;
}
ul.copyright-menu {
    padding-left: 0px;
}

.footer-privacy a:hover
{
	color:#000;
}
ul.socialtop {
    float: right;
}
.confluence a:hover {
    color: #fff;
}
.confluence a {
    background: #afa27f;
    color: #fff;
    padding: 18px 20px 9px 20px;
    text-decoration: none;
    display: inline-block;
    float: right;
    font-weight: 600;
    font-size: 14px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 6px solid #c5b884;
}
.logo_text {
    padding-left: 4px;
    padding-top: 28px;
}

.logo_text h5 {
    font-size: 24px;
    margin-bottom: 2px;
}

.logo_text p {
    font-size: 22px;
}


/*.gallery_box {
  position: relative;
  overflow: hidden;
  left: 10px;
}

.gallery_box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 99;
  transition: bottom 0.5s ease;
}

.gallery_box:hover::before {
  bottom: 0px;
}

.gallery_box:hover p
{
    background:transparent;
}

.gallery_content {
  position: absolute;
  bottom: -100px; 
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 99;
  color: white; 
  transition: all 0.5s ease;
}

.gallery_content p{
font-size:24px;
}

.gallery_box:hover .gallery_content {
  bottom: 50%; /
  transform: translateY(50%); 
}

.gallery_box img {
  display: block;
  width: 100%;
  transition: transform 0.5s ease;
}

.gallery_box:hover img {
  transform: scale(1.1); 
}

.gallery_section .item {
    padding: 10px 10px 20px 10px;
}

section.gallery_section .bgcolor {
    padding-bottom: 100px !important;
}
.gallery_section .owl-carousel .owl-nav.disabled {
    display: block;
    margin-top: 20px;
    margin-left: 24px;
    position: absolute;
    right: 0;
}
*/
.owl-nav.disabled i {
    position: relative;
    top: 2px;
}
.owl-nav button.owl-next {
    background: #666 !important;
    color: #fff !important;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.owl-nav button.owl-prev {
    background: #666 !important;
    color: #fff !important;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}



.flip-box {
  perspective: 1000px;
}

.flip-box-inner {
   position: relative;
    width: 40%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: 70px;
    margin-left: auto;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 170px;
  -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: 80% !important;
    background-repeat: no-repeat;
}

.flip-box-front {
  color: black;
  border-radius: 10px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.flip-box-back {
  transform: rotateY(180deg);
  border-radius: 10px;
}

.internal_banner img
{
    height:300px;
    object-fit: cover;
}


.flip-box-header-front {
    font-size: 14px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 4px 10px;
    width: fit-content;
    color: #000;
    text-transform: uppercase;
}

img.flip-box-img {
       margin-top: 10px;
    width: 30px;
    filter: invert(100%);
}

.inner.color-white {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 5px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -7px;
}

a.flip-box-button {
    background-color: transparent;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    margin-top: 1px;
    padding: 5px 10px;
    width: fit-content;
    background-color: #000;
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-decoration: none;
}

.flip-box-button:hover {
    color: #0a58ca;
    padding: 5px 10px;
    background-color: #fff;
}

.banner_contents {
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: fadeInText 1.5s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner_text {
      background: #ffffffd1;
    color: #000;
    width: 500px;
    padding: 40px 40px 20px 40px;
    text-align: left;
}

.banner_text h5 {
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 5px;
}
.banner_text p {
        margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    line-height: 28px;
    padding-right: 0px;
}

.banner_slider {
    height: 98vh;
    object-fit: cover;
}

.banner_slider img {
    height: 98vh;
    object-fit: cover;
        position: relative;
    z-index: -1;
}


.bounce_continue
{
    animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.googlemap iframe {
    padding: 20px;
    position: relative;
}

.committe_box {
    padding: 0px 27px;
    padding-bottom:20px;
}

.width_70
{
       width: 63%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.committe_box img {
    width: 200px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.committe_box h4 {
    font-size: 16px;
    padding-top: 20px;
    margin-bottom: 0;
}
.comitee_member .col-lg-2 {
    padding: 0px 0px;
    width: 16%;
}

.committe_box1 img {
    width: 150px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.committe_box1 h4 {
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 0;
}

.flip-box-inner a {
    text-decoration: none;
}

.manufacture-btn {
      background-color: #1b9a8aa8;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: -25px;
    z-index: 9;
}
.carousel-control-next {
    right: 0;
     top: 30% !important;
}
.carousel-control-prev {
    left: 0;
    top: 30% !important;
}

.col-md-5.pt-md-4.pt-2.d-md-flex.d-flex.justify-content-center.align-items-center.order-md-0.order-1 {
    justify-content: left !important;
}
.education_box
{
	    background: #fefddf;
    padding: 50px 50px;
    border-radius: 20px;
    position: relative;
    left: -15%;
    box-shadow: 0px 0px 36px -26px #333;
    width: 115%;
    overflow:hidden;
}
/*.percent{
  &:after{
    content: '%';
  }
}*/
.footer-privacy.text-start {
    color: #000;
}
.footer p, .footer a {
    color: #000;
    text-decoration: none;
}
.footer_logo img {
    width: 150px !important;
}

.w80
{
	width:120px;
}

.footer-privacy ul li {
    list-style: none;
    float: left;
    padding-left: 12px;
}

.footer-privacy  ul.footer-menu {
    float: right;
}

.footer h4 {
    color: #E31E24;
    font-size: 20px;
}

.footer ul li {
    list-style: none;
    color:#000;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li a {
    font-size: 14px;
    color:#000;
}
.w-20
{
	width:27px;
}
.classroom_box img {
    padding: 0px 20px;
}
.border_3:before {
        content: "";
    position: absolute;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    z-index: 99;
    margin-left: -14px;
    margin-top: -14px;
}
.border_2:before {
        content: "";
    position: absolute;
    background: #fdee9d;
    width: 89%;
    height: 40%;
    bottom: 23px;
}
.border_5:before {
        margin-left: -14px;
    margin-top: -14px;
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 40%;
    height: 111%;
    bottom: -14px;
}
.border_6:before {
         content: "";
    position: absolute;
    background: #fdee9d;
    width: 40%;
    height: 111%;
    bottom: -12px;
    right: -15px;
}
.border_7:before {
      content: "";
    position: absolute;
    background: #fdee9d;
    width: 119%;
    height: 40%;
    bottom: -16px;
    margin-left: -14px;
}

@media(min-width:1400px)
{
    .border_8:before {
    margin-left: 80px !important;
}
}


.border_8:before {
       content: "";
    position: absolute;
    background: #fdee9d;
    width: 87.5%;
    height: 50%;
    bottom: 31px;
    margin-left: 70px;
}
.border_9 {
    padding: 0 15px;
     margin-bottom: 15px;
}
.border_9:before {
       content: "";
    position: absolute;
    background: #fdee9d;
    width: 100%;
    height: 20%;
    bottom: -16px;
    margin-left: -14px;
       
}
.border_10:before {
    margin-left: -14px;
    margin-top: -14px;
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 40%;
    height: 108%;
    bottom: -14px;
}

.classroom_box p {
    font-size: 20px;
    font-weight: 400;
    color: #E31E24;
    position:relative;
    top:20px;
}

#counter {
        background-image: url("../img/counter-bg.jpg");

        padding: 70px 0px !important;
}

.stastic p {
    text-decoration: underline;
    font-size: 18px;
    color: #000;
    margin-bottom: 0;
    font-weight:600;
}

.stastic h4 {
    font-size: 44px;
    font-weight: 400;
    color: #0a8f7a;
}

.scholar_section
{background: linear-gradient(180deg, #ffffff 0%, #ffffff 25%, #fefddf 25%, #fefddf 100%);
}
.service-card img {
    width: 60px;
    margin-bottom: 20px;
}

.service-categories .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0px 0px 15px 0px #e3e1e1;
    height:100%;
}

section.about_section .container {
       background: linear-gradient(180deg, #fefddf 0%, #fefddf 25%, #fefddf 80%, #ffffff 100%);
    border-top: 0px solid #fccf00;
    margin-top: -90px;
      padding-bottom: 210px;
    padding-left: 80px;
    padding-right: 90px;
}
section.service-categories {
    margin-top: -230px;
}
.banner_tp {
         background-color: #f6d876;
    color: #000;
    padding: 10px 20px 22px 20px;
    font-weight: 600;
    font-size: 26px;
    display: inline-block;
    position: absolute;
    text-transform: capitalize;
    top: -100px;
    margin-left: 0px;
    z-index: 99;
    line-height: 53px;
}
.paddngrgt80
{
    padding-right:80px !important;
}

.banner_tp span{
    font-weight: 600;
    font-size: 26px;
}

.banner_tp::before {
       background-color: #f6d876;
    position: absolute;
    transform: skewX(-28deg);
    width: 108px;
    content: '';
    height: 113px;
    right: -35px;
    margin-top: -10px;
    z-index: -1;
}
body .admission_img {
       position: absolute;
    width: 135px !important;
    right: 0;
    top: -66px;
}

.about_listing {
    list-style: none;
    padding-left: 0 !important;
    margin: 0;
}

ul.about_listing li {
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom: 9px;
}
.card-title {
    margin-bottom: .5rem;
    font-size: 20px;
}
ul.about_listing li img {
    width: 25px;
    margin-right: 5px;
}

.pt55 {
    position: relative;
    padding-top: 13%;
}
.education_box:before {
    background-image: url(../img/logo.png);
    content: '';
    position: absolute;
    background-size: cover;
    height: 216%;
    width: 48%;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.06;
    left: 24%;
    top: -233px;
}
.scholar_section
{
    overflow:hidden;
}
.scholar_section::after
{
      background-image: url(../img/logo.png);
    content: '';
    position: absolute;
    background-size: cover;
    height: 150%;
    width: 56%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.06;
    left: 24%;
    top: -233px;
}
.z-index-9
{
    z-index:9;
}
.padd190
{
    padding:0px 190px
}

.bounce_continue
{
    animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.navbar-nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.navbar-nav li a::after {
    position: absolute;
    content: "";
    top: -10%;
    left: 0;
    width: 100%;
    height: 46px;
    background: #fccf00;
    transform: scaleX(0);
    color:#000 !important;
    transform-origin: right;
    transition: transform 0.5s;
    margin-top: 5px;
    border-bottom: 0px solid #ff6c00;
    z-index: -1;
}

.venue_border img {
    border-top: 20px solid #d9dbda;
    border-bottom: 20px solid #d9dbda;
}

.classroom_box {
    padding: 0px 20px;
}
.venue_border {
    padding:0px 15px;
}

.startimg::after {
    content: "";
    background-image: url(../img/star-stick.png);
    background-size: contain;
    position: absolute;
    top: -19px;
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    margin-left: 145px;
}
.stastic {
    position: relative;
}
.paddlft60
{
    padding-left:20px !important;
}

.paddlft50
{
    padding-left:100px !important;
    padding-right:100px !important;
}

.mrgleft30
{
        margin-left: -30px;
}

.skew-box {
  position: absolute;
      top: -92px;
  background-color: #f6d876; /* Yellow background */
  color: #000;
      padding: 10px 40px 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transform: skew(-10deg); /* Skew the box */
  display: inline-block;
}

.skew-box p {
   margin: 0;
    font-size: 26px;
    font-weight: 400;
    color: #000;
    line-height: 43px;
}

.skew-box p span{
  margin: 0;
    font-size: 26px;
    font-weight: 400;
    color: #000;
}

.skew-box::after {
  content: '';
  position: absolute;
  top: 0;
  right: -11px;
  bottom: 0;
  width: 20px; /* Adjust width as needed */
   /* Red and orange border */
  transform: skew(-10deg); /* Match skew angle */
  background: linear-gradient(to left, #e12025 50%, #ed7c1c 50%);
}

.mrg_35
{
    margin-left:-40px;
}
.position_tops img {
    width: 17px;
    position: relative;
    top: -2px;
    left: -4px;
    filter: grayscale(0%);
}

.position_tops a:hover img {
        
        filter: grayscale(100%) contrast(0%) brightness(0);
}

body .position_tops a {
  font-size:14px;
}
.browser_link img{
        width: 17px;
    position: relative;
    top: -2px;
    left: -4px;
}

.browser_link img{
        width: 17px;
    position: relative;
    top: -2px;
    left: -4px;
    filter: grayscale(0%);
}

.browser_link a:hover img{
       filter: grayscale(100%) contrast(0%) brightness(0);
}
.quickimg img {
       width: 200px;
    border: 1px solid #f6d876;
    padding: 45px;
    margin: 0 auto;
    height: 190px;
}
.quick_link_box {
    text-align: center;
}
.quicklinks p {
    font-weight: 500;
    font-size: 16px;
}
.light_bgs
{
    background:#fefddf;
}
.quickimg img:hover {
    background: #fff;
}
.news_img img {
    width: 100%;
}

.news_box {
    padding: 20px;
    border: 1px solid #f6d876;
}

.footer_bottom_img {
    margin-right: 65px;
    margin-top:-90px;
}

.footer_bottom_img img {
    width: 130px;
    margin-bottom: 10px;
}

.inner-skew
{
        width: 500px;
    padding: 5px 40px 8px;
        top: 40px;
}

.inner_adminssion .admission_img {
    position: absolute;
    width: 135px !important;
    right: 0;
    top: -107px;
}

.inneraboutimg img {
    width: 95% !important;
    margin: 0 auto;
    display: block;
}

.border_11:before {
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 98%;
    height: 50%;
    bottom: 31px;
    margin-left: 1%;
}

.dark_org_color
{
    background: #fefddf;
}

.founder_img img {
       width: 65% !important;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.founder_img::before {
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 64%;
    height: 30%;
    bottom: 0;
    margin-left: 18%;
    z-index: 0;
}
.about_tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #e31e24;
    font-weight: 600;
    background-color: #fefddf;
    border-radius: 0;
}
.about_tabs ul#pills-tab {
    margin-top: -44px;
    margin-left: 20px;
}
.about_tabs .nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0;
    background: #fdee9d;
    color: #333;
}
.about_tabs div#pills-tabContent {
    padding-top: 30px;
}
.about_tabs ul#pills-tab li {
    margin-right: 20px;
}

.about_tabs div#pills-tabContent {
    padding-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.vission_box {
    border: 1px solid #fdee9d;
    padding: 41px 70px 40px 50px;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 99;
    background: #fff;
    height: 100%;
}
.vission_box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 101%;
    bottom: 0;
    margin-left: -67px;
    z-index: 0;
    top: -18px;
    border: 1px solid #fdee9d;
}

.left_icons{
    
    position: absolute;
    font-size: 59px;
    margin-top: -53px;
    color: #fdee9d;
    opacity: 0.6;
}
.right_icons{
       position: absolute;
    font-size: 59px;
    margin-top: -46px;
    color: #fdee9d;
    opacity: 0.6;
    right: 71px;
    transform: rotate(180deg);
}

section.vission_mission {
    padding-top: 80px !important;
}
/*.about_tabs .container::after*/
/*{*/
/*    background-image: url(../img/logo.png);*/
/*   content: '';*/
/*    position: absolute;*/
/*    background-size: cover;*/
/*    height: 601px;*/
/*    width: 603px;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 1;*/
/*    opacity: 0.06;*/
/*    left: 35%;*/
/*    top: 0%;*/
/*}*/


.qrcode_img {
    margin-right: 18px;
    gap: 50px !important;
}
    .qrcode_img img {
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 7px;
        width: 85px;
}

.submit_bittons:hover {
    color: #ffff !important;
    background: #E31E24 !important;
    border: 1px solid #f00;
}
.submit_bittons {
    border: 1px solid #E31E24 !important;
    background: transparent !important;
    color: #f00 !important;
    border-radius: 0 !important;
}
.fs16 {
    font-size: 16px;
    font-weight: 600;
}
.embedcode iframe {
    width: 100%;
    height: 400px;
    margin-bottom: -10px;
}
.navbar-expand-lg .navbar-nav a.nav-link.active img {
    filter: grayscale(100%) contrast(0%) brightness(0);
}
.images_border:before {
    content: "";
    position: absolute;
    background: #fdee9d;
    width: 100%;
    height: 50%;
    bottom: 0;
}

.images_border img {
    padding: 20px;
    position: relative;
}

.news_update .owl-nav.disabled 
{
    display: block !important;
}

.news_update button.owl-next {
    position: absolute;
    top: 36%;
    right: -3%;
}

.news_update button.owl-prev {
    position: absolute;
    top: 36%;
    left: -3%;
}